//Kdv hesaplamak için
import java.util.Scanner;
    public class KdvHesaplama {
    public static void main(String[] args) {

        double tutar,kdvOrani1=0.18,kdvOrani2=0.08;
        Scanner input=new Scanner(System.in);
        System.out.print("Tutarı giriniz:");
        tutar= input.nextDouble();

         double kdvTutar= tutar>0 && tutar<1000 ? tutar*kdvOrani1:tutar*kdvOrani2;
        System.out.println("KDV Tutari:" +kdvTutar);

         double kdvliTutar= tutar+ kdvTutar;
        System.out.println(" KDV'li Tutarınız : "+kdvliTutar);






    }
}
